<div class="home-container">
    <h1>Welcome to Coding with Neeraj!</h1>
    <p>Select a topic to learn more about Python:</p>
  
    <div class="topics-buttons">
      <button routerLink="/topics/introduction-to-python" class="intro-button">Introduction to Python</button>
      <button routerLink="/topics/data-types" class="data-types-button">Data Types in Python</button>
      <button routerLink="/topics/control-structures" class="control-structures-button">Control Structures</button>
      <button routerLink="/topics/functions-and-modules" class="functions-modules-button">Functions and Modules</button>
      <button routerLink="/topics/object-oriented-programming" class="oop-button">Object-Oriented Programming</button>
    </div>
</div>
